@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");

#myfoto {
  width: 220px;
  height: 220px;
  border-radius: 20px;
  box-shadow: 0px 0px 4px 0px #333;
}

body {
  background: rgb(236, 236, 236)
    url(background.jpg)
    no-repeat fixed;
  background-size: cover;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 700px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.438);
  border-radius: 20px;
  backdrop-filter: blur(2px);
}

.myinfo {
  display: flex;
  background-color: rgba(0, 4, 255, 0.315);
  padding: 1rem;
  border-radius: 20px 20px 0px 0px;
  box-shadow: 0 20px 20px -20px #333;
}

@media (max-width: 700px) {
  .container {
    width: 100%;
  }
  .myinfo {
    text-align: center;
    display: block;
  }
  .sociales ul {
    display: block;
    text-align: center;
    justify-content: space-evenly;
  }
}

.myinfo-text {
  margin-left: 2rem;
}
.myinfo-text h1 {
  margin-top: 10px;
  margin-bottom: 15px;
}

.git {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.git h1 {
  text-align: center;
  margin: 0;
}

.git hr {
  margin: -40px auto 10px;
  padding: 0;
  height: 50px;
  border: none;
  border-bottom: 1px solid #1f1209;
  box-shadow: 0 20px 20px -20px #333;
  width: 80%;
}

.hobbysoc {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 1.5rem;
}

.hobby {
  width: 45%;
  text-align: center;
  background-color: rgba(255, 0, 191, 0.75);
  border-radius: 20px;
  box-shadow: 0 20px 20px -20px #333;
}

.hobby hr {
  margin: -60px auto 10px;
  padding: 0;
  height: 50px;
  border: none;
  border-bottom: 1px solid #1f1209;
  box-shadow: 0 20px 20px -20px #333;
  width: 80%;
}

.hobby ol {
  list-style-type: none;
  padding: 0;
}

.hobby ol li {
  margin-bottom: 0.5rem;
  text-decoration: none;
  font-weight: bolder;
  margin-top: 1rem;
}

.hobby ol li a {
  text-decoration: none;
}

.hobby ol li a {
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
}
.hobby ol li a:active,
.hobby ol li a:hover {
  background-color: rgba(255, 255, 255, 0.274);
}

.sociales ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.sociales ul li{
  margin-right: 10px;
  font-size: 25px;
  background-color: rgba(17, 0, 255, 0.171);
  box-shadow: 0px 4px 0px rgba(9, 0, 129, 0.247);
  padding: 8px;
  border-radius: 10px;
}

.sociales ul li a.text:active,
.sociales ul li a.text {
  text-decoration: none;
}

.sociales ul li::after,
.sociales ul li:hover{
  background-color: rgba(17, 0, 255, 0.301);
  transition-property: background-color, color;
  transition-duration: .3s;
  transition-delay: 0s, 1s;
}

.sociales ul li a.text i{
  display: flex;
  color: black
}

.sociales ul li a.text i h5{
  padding-left: 10px;
  margin: 0;
  font-family: "Roboto", sans-serif;
  padding-top: 3px;
  padding-right: 5px;
}

.footer {
  height: 80px;
  background-color: rgba(198, 103, 253, 0.726);
  border-radius: 0px 0px 20px 20px;
}

.footer h1 {
  text-align: center;
  margin: 0;
  padding-top: 20px;
  font-weight: lighter;
  text-shadow: 0px 1px 2px;
}